export BASE_DIR=$(pwd -P)
export PROFILE_NAME=$(basename $BASE_DIR)
export _PYTHON_VERSION=">=3.10,<3.11"
export _MLFLOW_VERSION=">=2.8,<2.9"

if [ -z "$(conda env list | grep $PROFILE_NAME\\s)" ]; then
    conda create -y -n $PROFILE_NAME python${_PYTHON_VERSION} mlflow${_MLFLOW_VERSION}
fi
layout conda $PROFILE_NAME

export OIDC_ISSUER_URL=https://oidc.issuer.io
export OIDC_USERNAME_CLAIM=preferred_username
export OIDC_CLIENT_ID=client
export OIDC_CLIENT_SECRET=secret
export OIDC_USER_GROUP="MLFLOW"

export MLFLOW_AUTH_CONFIG_PATH=$BASE_DIR/basic_auth.ini
export MLFLOW_TRACKING_URI="http://127.0.0.1:8080"

export DEBUG=True
